<%include partials/header%>
<div class="ui raised very padded text container segment main">
<div class="ui huge header"><%=b['title']%></div>
<div class="ui top attached">
    <div class="item">
    <img class="ui centered rounded image" src=<%=b['image']%>/>
    <div class="content">
    <p></p>
    <span><b><%=b['created'].toDateString()%></b></span>  
    <p></p>
    </div>
    <div class="description">
        <p><%-b['body']%></p>
    </div>
    <br>
    <form action="/blogs/<%=b._id%>?_method=DELETE" method="POST">
        <button class="ui inverted red button">Delete</button>
        <a class="ui inverted blue button" href="/blogs/<%=b._id%>/edit">Edit</a>
    </form>
    </div>
    </div>
</div>
<%include partials/footer%>